---
swagger: "2.0"
info:
  description: "The its4land Public API provides access to the services of the its4land\
    \ Publish and Share platform."
  version: "0.0.2"
  title: "its4land Public API"
  termsOfService: ""
  contact:
    name: "its4land"
    url: "https://its4land.com"
    email: "contact@its4land.com"
  license:
    name: "MIT"
    url: "http://opensource.org/licenses/MIT"
host: "platform.its4land.com"
basePath: "/"
tags:
- name: "Site"
  description: "Everything about Site. A site corresponds to an installation of the\
    \ Publish and Share platform."
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "Projects"
  description: "Everything about projects. A project is the central structure in Publish\
    \ and Share to organize task. A project has at least a Name and a AOI. Every data\
    \ processed by tools in Publish and Share are accessible via the project"
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "Models"
  description: "Everything about models. A model stores all data related to any kind\
    \ of classification process based on any kind of TrainingSets. A Model is related\
    \ to one or Project."
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "TrainingSets"
  description: "Everything about TrainingSets. A TrainingSet is part of Model and\
    \ the base for a classifier"
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "SpatialSources"
  description: "Everything about SpatialSources. A SpatialSource documents the evidence\
    \ for as SpatialUnit. A SpatialSource can be a SketchMap, Orthoimages, etc. An\
    \ SpatialSource may have several manifestations at the same time. See LADM for\
    \ more details."
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "AdminSources"
  description: "Everything about AdminSources. A AdminSource documents the evidence\
    \ for a interrest in land. This could be a right like ownership or a restriction\
    \ like right of way. The AdminSource document itself is not the registration,\
    \ it provides an evidence for a later registration in a LAS. The AdminSource Document\
    \ is related to a SpatialUnit. See LADM for more details."
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "SpatialUnits"
  description: "Everything about SpatialUnits. Details defined by the Concept. See\
    \ LADM for more details."
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "BoundaryFaceString"
  description: "Everything about BoundaryFaceString. See LADM for more details."
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "Classifier"
  description: "Everything about Classifier. A Classifier is part of a Model. The\
    \ Classifier itself is defined by the Application."
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "ModelClasses"
  description: "Everything about ModelClasses. Assigned to Models. Describe the different\
    \ class that can be detected by the Classifier of the Model."
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "ContentItems"
  description: "Everything about ContentItems. Any form of digital content, like files,\
    \ images or other binary and non-binary structures."
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "MetricMapFeatures"
  description: "Everything about MetricMapFeatures. Handel of Point-, Line- and Polygon-TopographicFeature."
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "Images"
  description: "Everything about Images. Orthoimages that should be published on Publish\
    \ and Share"
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "Tags"
  description: "Everything about Tags. Nearly every resource accessible via this API\
    \ can be tagged. Endpoint for handle Tags."
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "WP5ValidationSets"
  description: "Everything about WP5ValidationSets. WP5 requires a different kind\
    \ of classification. This Endpoint is only used by WP5 "
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "Tools"
  description: "Everything about tools"
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "Processes"
  description: "Everything about processes"
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
- name: "Misc"
  description: "General endpoints"
  externalDocs:
    description: "Find out more"
    url: "https://platform.its4land.com"
schemes:
- "https"
paths:
  /projects:
    get:
      tags:
      - "Projects"
      summary: "Get a GeoJSON structure containing a list of Projects."
      description: "Get a GeoJSON structure containing a list of Projects. A single\
        \ project is modeled as a GeoJSON feature."
      operationId: "getProjects"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "uid"
        in: "query"
        description: "Comma separated list of UID"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "name"
        in: "query"
        description: "Comma separated list of names"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "aoi"
        in: "query"
        description: "Polygon. The polygon is encoded a comma separated list of coordinates.\
          \ X1, Y1, X2, Y2, ..., Xn, Yn, X1, Y1"
        required: false
        type: "string"
      - name: "tags"
        in: "query"
        description: "Comma separated list of tags"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "page"
        in: "query"
        description: "Requests for collections can return between 0 and N results,\
          \ controlled using the per_page and page query parameters. All endpoints\
          \ are limited to 10 results by default."
        required: false
        type: "integer"
      - name: "sort"
        in: "query"
        description: "The sorting is initiated by the sort query parameter and a list\
          \ of comma separated list of fields to sort by."
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "Comma separated list of field names"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ProjectsEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
    post:
      tags:
      - "Projects"
      summary: "Create a new project"
      description: "Create a new project. The new project is modeled as a feature\
        \ in a GeoJSON structure. Currently only one project feature is allowed."
      operationId: "newProject"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - in: "body"
        name: "newproject"
        description: "New project data"
        required: true
        schema:
          $ref: "#/definitions/ProjectsPostRequest"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        201:
          description: "Created - Resource created. URL to new resource in Location\
            \ header"
          schema:
            $ref: "#/definitions/ProjectsEndpointType"
          headers:
            Location:
              type: "string"
              description: "Contains the resource URI"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
  /projects/{project_uid}:
    get:
      tags:
      - "Projects"
      summary: "Getting single Projects by its UID"
      description: "Getting single Projects by its UID. The project is modeled as\
        \ a feature in a GeoJSON structure."
      operationId: "getProjectsByUID"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "project_uid"
        in: "path"
        description: "UID of the project"
        required: true
        type: "string"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ProjectsEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
    delete:
      tags:
      - "Projects"
      summary: "Deletes a single e project by its UID"
      description: "A single project is deleted. This endpoint deletes the project\
        \ itself and the connected to subordered data like SpatialSources, etc. The\
        \ subordered data itself are not deleted"
      operationId: "delProjectByUID"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "project_uid"
        in: "path"
        description: "UID of the project"
        required: true
        type: "string"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ProjectsEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
    patch:
      tags:
      - "Projects"
      summary: "Update a project"
      description: "Updates some attributes of a project."
      operationId: "updateProjects"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "project_uid"
        in: "path"
        description: "Project UID to be patched"
        required: true
        type: "string"
      - in: "body"
        name: "patchproject"
        description: "Update data"
        required: true
        schema:
          $ref: "#/definitions/RFC6902PatchRequest"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ProjectsEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
  /projects/{project_uid}/Models:
    get:
      tags:
      - "Projects"
      summary: "Returns the models of a project"
      description: "Returns the models of a project"
      operationId: "getModelsByProjectUID"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "project_uid"
        in: "path"
        description: "Project UID"
        required: true
        type: "string"
      - name: "page"
        in: "query"
        description: "Requests for collections can return between 0 and N results,\
          \ controlled using the per_page and page query parameters. All endpoints\
          \ are limited to 10 results by default."
        required: false
        type: "integer"
      - name: "sort"
        in: "query"
        description: "The sorting is initiated by the sort query parameter and a list\
          \ of comma separated list of fields to sort by."
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "Comma separated list of field names"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ModelsEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
    post:
      tags:
      - "Projects"
      summary: "Create a new model"
      description: "Create a new model.  To add a new Model , the content of Models\
        \  must be stored in advanced via the ContentItem endpoint"
      operationId: "newModelUnderProject"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "project_uid"
        in: "path"
        description: "Project UID"
        required: true
        type: "string"
      - in: "body"
        name: "newmodel"
        description: "New model data"
        required: true
        schema:
          $ref: "#/definitions/ModelsPostRequest"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        201:
          description: "Created - Resource created. URL to new resource in Location\
            \ header"
          schema:
            $ref: "#/definitions/ProjectsEndpointType"
          headers:
            Location:
              type: "string"
              description: "Contains the resource URI"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
  /projects/{project_uid}/Models/{model_uid}:
    delete:
      tags:
      - "Projects"
      summary: "Removes a model from a project."
      description: "Removes a model from a project. By default only the link between\
        \ model and project is removed."
      operationId: "detachProjectModel"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "project_uid"
        in: "path"
        description: "Project UID"
        required: true
        type: "string"
      - name: "model_uid"
        in: "path"
        description: "Model UID"
        required: true
        type: "string"
      - name: "force_delete"
        in: "query"
        description: "Deletes the model resource. ********* What's about subordinate\
          \ resources? *********"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ProjectsEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
  /projects/{project_uid}/SpatialSources:
    get:
      tags:
      - "Projects"
      summary: "Returns the SpatialSources of a Project."
      description: "Returns the SpatialSources of a Project."
      operationId: "getSpatialSourceByProjectUID"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "project_uid"
        in: "path"
        description: "Project UID"
        required: true
        type: "string"
      - name: "page"
        in: "query"
        description: "Requests for collections can return between 0 and N results,\
          \ controlled using the per_page and page query parameters. All endpoints\
          \ are limited to 10 results by default."
        required: false
        type: "integer"
      - name: "sort"
        in: "query"
        description: "The sorting is initiated by the sort query parameter and a list\
          \ of comma separated list of fields to sort by."
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "Comma separated list of field names"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SpatialSourcesEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
    post:
      tags:
      - "Projects"
      summary: "Create a new SpatialSource"
      description: "Create a new SpatialSource. To add a new SpatialSource , the content\
        \ of SpatialSource  must be stored in advanced via the ContentItem endpoint"
      operationId: "newSpatialSourceUnderProject"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "project_uid"
        in: "path"
        description: "Project UID"
        required: true
        type: "string"
      - in: "body"
        name: "newspatialsource"
        description: "New SpatialSource data"
        required: true
        schema:
          $ref: "#/definitions/SpatialSourcesPostRequest"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        201:
          description: "Created - Resource created. URL to new resource in Location\
            \ header"
          schema:
            $ref: "#/definitions/ProjectsEndpointType"
          headers:
            Location:
              type: "string"
              description: "Contains the resource URI"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
  /projects/{project_uid}/SpatialSources/{spatialsource_uid}:
    delete:
      tags:
      - "Projects"
      summary: "Removes a spatialsource from a project."
      description: "Removes a spatial from a project. By default only the link between\
        \ spatialsource and project is removed."
      operationId: "detachProjectSpatialSource"
      produces:
      - "application/json"
      parameters:
      - name: "project_uid"
        in: "path"
        description: "Project UID"
        required: true
        type: "string"
      - name: "spatialsource_uid"
        in: "path"
        description: "SpatialSource UID"
        required: true
        type: "string"
      - name: "force_delete"
        in: "query"
        description: "Deletes the spatialsource resource. ********* What's about subordinate\
          \ resources? *********"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ProjectsEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
  /projects/{project_uid}/connectedObjects:
    get:
      tags:
      - "Projects"
      summary: "Returns an array of connect objects"
      description: "Returns an array of connect objects of a project. For each connected\
        \ object the endpoint returns the type, name and uuid"
      operationId: "getConnectedObjectsByProjectUID"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "project_uid"
        in: "path"
        description: "Project UID"
        required: true
        type: "string"
      - name: "page"
        in: "query"
        description: "Requests for collections can return between 0 and N results,\
          \ controlled using the per_page and page query parameters. All endpoints\
          \ are limited to 10 results by default."
        required: false
        type: "integer"
      - name: "sort"
        in: "query"
        description: "The sorting is initiated by the sort query parameter and a list\
          \ of comma separated list of fields to sort by."
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "Comma separated list of field names"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ConnectedObjectsEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
  /projects/{project_uid}/Tags:
    get:
      tags:
      - "Projects"
      summary: "Returns the tags of a project."
      description: "Is this method really necessary? Returns the tags of a project."
      operationId: "getProjectTagsByProjectUID"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "project_uid"
        in: "path"
        description: "Project UID"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/TagsListResponse"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        404:
          description: "Not Found - Resource not found"
        405:
          description: "Invalid input"
      x-swagger-router-controller: "Projects"
    post:
      tags:
      - "Projects"
      summary: "Adds a tag to the project"
      description: "Creates a new tag and attach it to the project. If the tag already\
        \ exist, the existing tag will be attached to the project."
      operationId: "addTagToProject"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "project_uid"
        in: "path"
        description: "Project UID"
        required: true
        type: "string"
      - in: "body"
        name: "newtag"
        description: "New Tag data"
        required: true
        schema:
          $ref: "#/definitions/TagsPostRequest"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        201:
          description: "Created - Resource created. URL to new resource in Location\
            \ header"
          schema:
            $ref: "#/definitions/ProjectsEndpointType"
          headers:
            Location:
              type: "string"
              description: "Contains the resource URI"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
  /projects/{project_uid}/Tags/{tag}:
    delete:
      tags:
      - "Projects"
      summary: "Removes a tag from a project."
      description: "Removes a tag from a project. By default only the link between\
        \ tag and project is removed."
      operationId: "detachProjectTag"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "project_uid"
        in: "path"
        description: "Project UID"
        required: true
        type: "string"
      - name: "tag"
        in: "path"
        description: "tag value"
        required: true
        type: "string"
      - name: "force_delete"
        in: "query"
        description: "Deletes the tag resource. ********* Only possible, when tag\
          \ is not attached to any other resource. *********"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ProjectsEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Projects"
  /models:
    get:
      tags:
      - "Models"
      summary: "Returns a list of models."
      description: "Returns a list of models."
      operationId: "getModels"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "uid"
        in: "query"
        description: "Comma separated list of model UID"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "name"
        in: "query"
        description: "Comma separated list of model names"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "tools"
        in: "query"
        description: "Comma separated list tool names which can make use of the model."
        required: false
        type: "array"
        items:
          type: "string"
      - name: "projects"
        in: "query"
        description: "Comma separated list of project UID"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "tags"
        in: "query"
        description: "Comma separated list of tags"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "page"
        in: "query"
        description: "Requests for collections can return between 0 and N results,\
          \ controlled using the per_page and page query parameters. All endpoints\
          \ are limited to 10 results by default."
        required: false
        type: "integer"
      - name: "sort"
        in: "query"
        description: "The sorting is initiated by the sort query parameter and a list\
          \ of comma separated list of fields to sort by."
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "Comma separated list of field names"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ModelsEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Models"
    post:
      tags:
      - "Models"
      summary: "Create a new model"
      description: "Create a new model. The model can be assigned to a project via\
        \ the patch://project method. To add a new SpatialSources , the content of\
        \ Models  must be stored in advanced via the ContentItem endpoint"
      operationId: "newModel"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - in: "body"
        name: "newmodel"
        description: "New Model data"
        required: true
        schema:
          $ref: "#/definitions/ModelsPostRequest"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        201:
          description: "Created - Resource created. URL to new resource in Location\
            \ header"
          schema:
            $ref: "#/definitions/ModelsEndpointType"
          headers:
            Location:
              type: "string"
              description: "Contains the resource URI"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Models"
  /models/{model_uid}:
    get:
      tags:
      - "Models"
      summary: "Returns a single model"
      description: "Returns a single model"
      operationId: "getModelsByUID"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "model_uid"
        in: "path"
        description: "Model  UID"
        required: true
        type: "string"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ModelsEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Models"
    patch:
      tags:
      - "Models"
      summary: "Updates some attributes of a model"
      description: "Updates some attributes of a model"
      operationId: "updateModels"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "model_uid"
        in: "path"
        description: "Model  UID"
        required: true
        type: "string"
      - in: "body"
        name: "patchmodel"
        description: "Update data"
        required: true
        schema:
          $ref: "#/definitions/RFC6902PatchRequest"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ModelsEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Models"
  /models/{model_uid}/modelclasses:
    get:
      tags:
      - "Models"
      summary: "Returns the model classes of the classifier."
      description: "Returns the model classes of the classifier."
      operationId: "getModelsClassesByModel"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "model_uid"
        in: "path"
        description: "Model  UID"
        required: true
        type: "string"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ModelClassesEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Models"
    post:
      tags:
      - "Models"
      summary: "Create a new ModelClass under a model"
      description: "Create a new ModelClass under a model"
      operationId: "newModelClassUnderModel"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "model_uid"
        in: "path"
        description: "Model  UID"
        required: true
        type: "string"
      - in: "body"
        name: "newmodelclass"
        description: "New ModelClass data"
        required: true
        schema:
          $ref: "#/definitions/ModelClassesPostRequest"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        201:
          description: "Created - Resource created. URL to new resource in Location\
            \ header"
          schema:
            $ref: "#/definitions/ModelClassesEndpointType"
          headers:
            Location:
              type: "string"
              description: "Contains the resource URI"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Models"
  /contentitems:
    get:
      tags:
      - "ContentItems"
      summary: "Returns a list of contentitems"
      description: "Returns a list of contentitem metadata based on the filter criteria"
      operationId: "getContentItems"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "uid"
        in: "query"
        description: "UID of a ContentItem"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "contentname"
        in: "query"
        description: "Name of File"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "contenttype"
        in: "query"
        description: "mime/type of the content"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "contentdescription"
        in: "query"
        description: "Free text for description. Only plain text."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Requests for collections can return between 0 and N results,\
          \ controlled using the per_page and page query parameters. All endpoints\
          \ are limited to 10 results by default."
        required: false
        type: "integer"
      - name: "sort"
        in: "query"
        description: "The sorting is initiated by the sort query parameter and a list\
          \ of comma separated list of fields to sort by."
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "Comma separated list of field names"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ContentItemEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "ContentItems"
    post:
      tags:
      - "ContentItems"
      summary: "Create a new content in the object storage"
      description: "Create a new content in the object storage"
      operationId: "newContentItem"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "newcontent"
        in: "formData"
        description: "Content as multipart from-data"
        required: true
        type: "file"
      - name: "description"
        in: "formData"
        description: "Description of content (optional)"
        required: false
        type: "string"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        201:
          description: "Created - Resource created. URL to new resource in Location\
            \ header"
          schema:
            $ref: "#/definitions/ContentItemEndpointType"
          headers:
            Location:
              type: "string"
              description: "Contains the resource URI"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "ContentItems"
  /contentitems/{contentitem_id}:
    get:
      tags:
      - "ContentItems"
      summary: "Returns a single content from the object storage."
      description: "Returns a single content from the object storage."
      operationId: "getContentItem"
      produces:
      - "multipart/form-data"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "contentitem_id"
        in: "path"
        description: "UID of the ContentItem"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: "file"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "ContentItems"
  /classifier:
    get:
      tags:
      - "Classifier"
      summary: "Returns a list of classifier"
      description: "Returns a list of classifier"
      operationId: "getClassifier"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "uid"
        in: "query"
        description: "Comma separated list of classifier UID"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "name"
        in: "query"
        description: "Comma separated list of classifier names"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "models"
        in: "query"
        description: "Comma separated list of model UID"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "tags"
        in: "query"
        description: "Comma separated list of tags"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "page"
        in: "query"
        description: "Requests for collections can return between 0 and N results,\
          \ controlled using the per_page and page query parameters. All endpoints\
          \ are limited to 10 results by default."
        required: false
        type: "integer"
      - name: "sort"
        in: "query"
        description: "The sorting is initiated by the sort query parameter and a list\
          \ of comma separated list of fields to sort by."
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "Comma separated list of field names"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ClassifierEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Classifier"
    post:
      tags:
      - "Classifier"
      summary: "Create a new classifier"
      description: "Create a new classifier. To add a new Classifier , the content\
        \ of Classifier must be stored in advanced via the ContentItem endpoint"
      operationId: "newClassifier"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - in: "body"
        name: "newclassifier"
        description: "New Classifier data"
        required: true
        schema:
          $ref: "#/definitions/ClassifierPostRequest"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        201:
          description: "Created - Resource created. URL to new resource in Location\
            \ header"
          schema:
            $ref: "#/definitions/ClassifierEndpointType"
          headers:
            Location:
              type: "string"
              description: "Contains the resource URI"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Classifier"
  /classifier/{classifier_id}:
    get:
      tags:
      - "Classifier"
      summary: "Returns a single classifier."
      description: "Returns a single classifier."
      operationId: "getClassifierByUID"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "classifier_id"
        in: "path"
        description: "Classifier UID"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ClassifierEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "Classifier"
  /metricmapfeature:
    get:
      tags:
      - "MetricMapFeatures"
      summary: "Returns MetricMapFeature"
      description: "Returns MetricMapFeature in a GeoJSON structure. A metric map\
        \ feature is modeled as a feature in  the GeoJSON structure."
      operationId: "getMetricMapFeature"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "querywindow"
        in: "query"
        description: "Polygon. The polygon is encoded a comma separated list of coordinates.\
          \ X1, Y1, X2, Y2, ..., Xn, Yn, X1, Y1"
        required: true
        type: "string"
      - name: "fgroup"
        in: "query"
        description: "Restricts the output to the listed feature group"
        required: false
        type: "string"
      - name: "ftype"
        in: "query"
        description: "Restricts the output to the listed feature types. When used\
          \ in combination with fgroup, output contains only those ftype which are\
          \ contained in the feature groups"
        required: false
        type: "string"
      - name: "fsubtype"
        in: "query"
        description: "Restricts the output to the listed feature types. When used\
          \ in combination with fgroup and/or ftype, output contains only those fsubtype\
          \ which are contained in the feature groups and feature types"
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MetricMapFeaturesEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "MetricMapFeatures"
    post:
      tags:
      - "MetricMapFeatures"
      summary: "Create a new metricMapFeature"
      description: "Create a new MetricMapFeature. The new metric map feature is a\
        \ feature in the GeoJSON structure. Currently ony one new feature per request\
        \ is allowed."
      operationId: "newMetricMapFeature"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - in: "body"
        name: "newmetricmapfeature"
        description: "New MetricMap Feature data"
        required: true
        schema:
          $ref: "#/definitions/MetricMapFeaturePostRequest"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        201:
          description: "Created - Resource created. URL to new resource in Location\
            \ header"
          schema:
            $ref: "#/definitions/MetricMapFeaturesEndpointType"
          headers:
            Location:
              type: "string"
              description: "Contains the resource URI"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "MetricMapFeatures"
  /metricmapfeature/{mmf_uid}:
    patch:
      tags:
      - "MetricMapFeatures"
      summary: "Updates a metric map feature"
      description: "Updates a metric map feature. Only fgroup, fname, ftype, fsubtype\
        \ and fURI can be updated"
      operationId: "updateMetricMapFeature"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "mmf_uid"
        in: "path"
        description: "MetricMapFeature UID"
        required: true
        type: "string"
      - in: "body"
        name: "patchmetricmapfeature"
        description: "Update data"
        required: true
        schema:
          $ref: "#/definitions/RFC6902PatchRequest"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MetricMapFeaturesEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "MetricMapFeatures"
  /modelclasses:
    get:
      tags:
      - "ModelClasses"
      summary: "Returns ModelClasses"
      description: "Returns ModelClasses"
      operationId: "getModelClasses"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "UID"
        in: "query"
        description: "Comma separated list of ModelClasses UID"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "nameinmodel"
        in: "query"
        description: "Comma separated list of ModelClasses names"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "conceptname"
        in: "query"
        description: "Comma separated list of ModelClasses concept names"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "page"
        in: "query"
        description: "Requests for collections can return between 0 and N results,\
          \ controlled using the per_page and page query parameters. All endpoints\
          \ are limited to 10 results by default."
        required: false
        type: "integer"
      - name: "sort"
        in: "query"
        description: "The sorting is initiated by the sort query parameter and a list\
          \ of comma separated list of fields to sort by."
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "Comma separated list of field names"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ModelClassesEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "ModelClasses"
  /modelclasses/{modelclasses_uid}:
    get:
      tags:
      - "ModelClasses"
      summary: "Returns a single model class"
      description: "Returns a single model class"
      operationId: "getModelClassesByUID"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "modelclasses_uid"
        in: "path"
        description: "ModelClass UID"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ModelClassesEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "ModelClasses"
    patch:
      tags:
      - "ModelClasses"
      summary: "Updates some attributes of a ModelClass"
      description: "Updates some attributes of a ModelClass"
      operationId: "updateModelClasses"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "modelclasses_uid"
        in: "path"
        description: "ModelClass UID"
        required: true
        type: "string"
      - in: "body"
        name: "patchmodelclasses"
        description: "Update data"
        required: true
        schema:
          $ref: "#/definitions/RFC6902PatchRequest"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ModelClassesEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "ModelClasses"
  /spatialsources:
    get:
      tags:
      - "SpatialSources"
      summary: "Returns a list of SpatialSources"
      description: "Returns a list of SpatialSources"
      operationId: "getSpatialSources"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - name: "uid"
        in: "query"
        description: "Comma separated list of SpatialSources UID"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "name"
        in: "query"
        description: "Comma separated list of SpatialSources names"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "type"
        in: "query"
        description: "Comma separated list of SpatialSources types"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "projects"
        in: "query"
        description: "Comma separated list of project UID"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "tags"
        in: "query"
        description: "Comma separated list of tags"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "page"
        in: "query"
        description: "Requests for collections can return between 0 and N results,\
          \ controlled using the per_page and page query parameters. All endpoints\
          \ are limited to 10 results by default."
        required: false
        type: "integer"
      - name: "sort"
        in: "query"
        description: "The sorting is initiated by the sort query parameter and a list\
          \ of comma separated list of fields to sort by."
        required: false
        type: "string"
      - name: "fields"
        in: "query"
        description: "Comma separated list of tags"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SpatialSourcesEndpointType"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
          description: "Unprocessable Entry"
        423:
          description: "Locked"
        500:
          description: "Internal Server Error"
        501:
          description: "Not Implemented"
      x-swagger-router-controller: "SpatialSources"
    post:
      tags:
      - "SpatialSources"
      summary: "Create a new SpatialSource"
      description: "Create a new SpatialSource. To add a new SpatialSources , the\
        \ content of SpatialSources  must be stored in advanced via the ContentItem\
        \ endpoint."
      operationId: "newSpatialSource"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "envelope"
        in: "query"
        description: "The endpoint can package everything (header, status code) neatly\
          \ into the response body. Include envelope=true as a request parameter.\
          \ The API will always return a 200 HTTP status code. The real status, headers\
          \ and response will be within the body."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
      - in: "body"
        name: "newspatialsource"
        description: "New SpatialSource data"
        required: true
        schema:
          $ref: "#/definitions/SpatialSourcesPostRequest"
      - name: "embed"
        in: "query"
        description: "Embedding is triggered by passing in an embed query parameter,\
          \ which takes a comma separated list of endpoint types. Single fields can\
          \ be selected a dot-notation (endpoint-type.property-name)"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "process_uid"
        in: "header"
        description: "deprecated"
        required: false
        type: "string"
      - name: "i4l-process-uid"
        in: "header"
        description: "Process UID. This parameter can be used by an its4land tool\
          \ running inside the runtime environment to pass the process uid to the\
          \ endpoint. With this information the endpoint can associate the newly created\
          \ or updated resource with the process."
        required: false
        type: "string"
      responses:
        201:
          description: "Created - Resource created. URL to new resource in Location\
            \ header"
          schema:
            $ref: "#/definitions/SpatialSourcesEndpointType"
          headers:
            Location:
              type: "string"
              description: "Contains the resource URI"
        204:
          description: "No Content - Request succeeded, but no response body"
        400:
          description: "Bad Request - Could not parse request"
        401:
          description: "Unauthorized - No authentication credentials provided or authentication\
            \ failed"
        403:
          description: "Forbidden - Authenticated user does not have access"
        404:
          description: "Not Found - Resource not found"
        409:
          description: "Conflict"
        415:
          description: "Unsupported Media Type"
        422:
[...]
